*{
    margin:0;
    padding: 0;
    border: 0;
}

h2 !important{
     font-weight: bold;   
     margin-bottom: 100px;
}

.thumbnail{
    
    width: 290px;
    height: 350px;
}
#indexImg {
    width:260px; 
    height: 200px;
    text-align: center;
}
