<h2>Últimas Receitas</h2>
<br>
<div class="row">     
    <div class="col-sm-6 col-md-2" ng-repeat = "receita in receitas | filter:filtroDeBusca" >
        <div class="thumbnail"  >               
            <div class="caption" >
                <img id="indexImg" src="{{receita.foto}} "alt="..."  >
                <h3 >{{receita.nome}}</h3>
                <p>{{receita.categoria.nome}}</p>
                <p ng-repeat="ingrediente in receita.ingredientes">{{ingrediente.nome}}    {{ingrediente.quantidade}}  {{ingrediente.unidadeMedida.descricao}}</p>
                <p><a href="#" class="btn btn-success" role="button">Visualizar</a></p>
            </div>
        </div>
    </div>
</div>